.bar{
    height: 1.5px;
    border: solid 1px black;
    margin: 3px;
    background-color: black;
    border-radius: 15px;
}
.close,.open{
    width: 32px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #e2e2e2;
    background-color: #cfd2cd;
    cursor: pointer;
}
 
.open .bar:nth-child(1){
    transform: rotate(45deg) translate(5px,5px);
}
.open .bar:nth-child(3){
    transform: rotate(-45deg) translate(3px,-4px);
}
.open .bar:nth-child(2){
    opacity: 0;
}
.light{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}
.active{
    font-size: 20px;
    font-weight: bold;
}
.side-bar.darkSide{
    background-color: #2a2c29;
}
.side-bar.darkSide a .libelle,.side-bar.darkSide a svg{
    color: #fff;
}
.side-bar{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 10px;
    gap: 150px;
    padding-top: 50px;
    height: 450px;
    width: 220px;
    transition: 0.3s;
    margin-top: 10px;
    background-color: #cfd2cd;
}
.side-bar.hide{
    transform: translateX(-200px);
    transition: 0.3s;
    opacity: 0;
}
.dark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dark .close,.dark .open{
    border: 2px solid #525252;
    background-color: #2a2c29;
}
.dark .bar{
    border: solid 1px rgb(255, 255, 255);
    background-color: #fff;
}


