
body{
  position: relative;
  background-color: #333;
  height: 100%;
  
}

.TittleField,.TextField{
  background: none;
  outline: none;
  color: white;
  border: 2px solid rgb(37, 37, 37);
  height: 25px;
  border-radius: 5px;
  padding: 0.4rem;
}
.addButton{
  height: 39px;
  margin-top: 1px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  color: #fff;
  background-color: #4d4d4d;
}
.taskBox{
  display: flex;
  position: absolute;
  left: 33%;
  flex-direction: column;
  justify-content: center;
}

input{
  width: 200px;
}

/* Conteneur des inputs */
.inputContainer{
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 25px;
}



